Repository toffguy77/my-fitness-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for local code quality checks
# Install with: npm run precommit:setup

repos:
  # Code quality checks
  - repo: local
    hooks:
      # TypeScript type checking
      - id: typescript-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      # ESLint for code quality
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Security audit (disabled for pre-push to avoid slowdown)
      # Run manually with: npm audit --audit-level=high
      # Or enable in CI/CD pipeline instead
      # - id: npm-audit
      #   name: NPM Security Audit
      #   entry: npm audit --audit-level=high
      #   language: system
      #   pass_filenames: false
      #   always_run: true
      #   stages: [pre-push]

      # Quick security check (only on manual run)
      - id: npm-audit-quick
        name: NPM Security Audit (Quick)
        entry: npm audit --audit-level=critical --production
        language: system
        pass_filenames: false
        always_run: true
        stages: [manual]

  # File checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-case-conflict
        name: Check for case conflicts

      - id: check-json
        name: Check JSON syntax

      - id: check-yaml
        name: Check YAML syntax
        args: ['--multi', '--unsafe']

      - id: detect-private-key
        name: Detect private keys

      - id: end-of-file-fixer
        name: Fix end of files
        exclude: |
          (?x)^(
            .*\.min\.js$|
            .*\.map$|
            node_modules/.*|
            \.git/.*|
            \.cache/.*|
            \.next/.*
          )$

      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: |
          (?x)^(
            .*\.md$|
            .*\.min\.js$|
            .*\.map$|
            node_modules/.*|
            \.cache/.*|
            \.next/.*
          )$

# Global configuration
default_language_version:
  node: '20'
  python: python3

# Hook execution settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

test(onboarding): add StepIndicator, OnboardingWizard, and API tests
  apps/web/src/features/onboarding/api/__tests__/onboarding.test.ts
  apps/web/src/features/onboarding/components/__tests__/OnboardingWizard.test.tsx
  apps/web/src/features/onboarding/components/__tests__/StepIndicator.test.tsx
Due: typescript-check, eslint

test(settings): add hook, API, and component tests
  apps/web/src/features/settings/api/__tests__/settings.test.ts
  apps/web/src/features/settings/components/__tests__/SettingsAppleHealth.test.tsx
  apps/web/src/features/settings/components/__tests__/SettingsBody.test.tsx
  apps/web/src/features/settings/components/__tests__/SettingsLocality.test.tsx
  apps/web/src/features/settings/components/__tests__/SettingsNotifications.test.tsx
  apps/web/src/features/settings/components/__tests__/SettingsPageLayout.test.tsx
  apps/web/src/features/settings/components/__tests__/SettingsSocial.test.tsx
  apps/web/src/features/settings/hooks/__tests__/useSettings.test.ts
Due: typescript-check, eslint

test(chat): add store, API, hooks, and component tests
  apps/web/src/features/chat/api/__tests__/chatApi.test.ts
  apps/web/src/features/chat/components/__tests__/ChatInput.test.tsx
  apps/web/src/features/chat/components/__tests__/ConversationList.test.tsx
  apps/web/src/features/chat/components/__tests__/DateSeparator.test.tsx
  apps/web/src/features/chat/components/__tests__/FileAttachment.test.tsx
  apps/web/src/features/chat/components/__tests__/FoodEntryCard.test.tsx
  apps/web/src/features/chat/components/__tests__/MessageBubble.test.tsx
  apps/web/src/features/chat/components/__tests__/MessageList.test.tsx
  apps/web/src/features/chat/hooks/__tests__/useChat.test.ts
  apps/web/src/features/chat/hooks/__tests__/useUnreadCount.test.ts
  apps/web/src/features/chat/hooks/__tests__/useWebSocket.test.ts
  apps/web/src/features/chat/store/__tests__/chatStore.test.ts
Due: typescript-check, eslint

test(nutrition-calc): add API and component tests
  apps/web/src/features/nutrition-calc/api/__tests__/nutritionCalc.test.ts
  apps/web/src/features/nutrition-calc/components/__tests__/KBJUWeeklyChart.test.tsx
  apps/web/src/features/nutrition-calc/components/__tests__/ProfileCompletionBanner.test.tsx
Due: typescript-check, eslint

test(admin): add API and component tests
  apps/web/src/features/admin/api/__tests__/adminApi.test.ts
  apps/web/src/features/admin/components/__tests__/AdminConversationList.test.tsx
  apps/web/src/features/admin/components/__tests__/AdminFooterNavigation.test.tsx
  apps/web/src/features/admin/components/__tests__/CuratorLoadCard.test.tsx
  apps/web/src/features/admin/components/__tests__/ReadOnlyMessageList.test.tsx
  apps/web/src/features/admin/components/__tests__/UserDetail.test.tsx
  apps/web/src/features/admin/components/__tests__/UserList.test.tsx
Due: typescript-check, eslint

test(curator): add API and component tests
  apps/web/src/features/curator/api/__tests__/curatorApi.test.ts
  apps/web/src/features/curator/components/__tests__/AlertBadge.test.tsx
  apps/web/src/features/curator/components/__tests__/ClientCard.test.tsx
  apps/web/src/features/curator/components/__tests__/ClientInfoPanel.test.tsx
  apps/web/src/features/curator/components/__tests__/ClientList.test.tsx
  apps/web/src/features/curator/components/__tests__/CuratorFooterNavigation.test.tsx
  apps/web/src/features/curator/components/__tests__/CuratorLayout.test.tsx
  apps/web/src/features/curator/components/__tests__/DaySection.test.tsx
  apps/web/src/features/curator/components/__tests__/KBZHUProgress.test.tsx
  apps/web/src/features/curator/components/__tests__/PhotosSection.test.tsx
  apps/web/src/features/curator/components/__tests__/StepsChart.test.tsx
  apps/web/src/features/curator/components/__tests__/WaterChart.test.tsx
  apps/web/src/features/curator/components/__tests__/WorkoutsSection.test.tsx
Due: typescript-check, eslint

test(api/admin): add handler and service tests
  apps/api/internal/modules/admin/handler_test.go
  apps/api/internal/modules/admin/service_test.go
Due: none

test(api): add handler tests for chat, content, curator, nutrition-calc
  apps/api/internal/modules/chat/handler_test.go
  apps/api/internal/modules/content/handler_test.go
  apps/api/internal/modules/curator/handler_test.go
  apps/api/internal/modules/nutrition-calc/handler_test.go
  apps/api/internal/modules/nutrition-calc/service_test.go
Due: none

test: strengthen existing feature test coverage
  apps/web/src/app/__tests__/content-page.test.tsx
  apps/web/src/app/__tests__/onboarding-page.test.tsx
  apps/web/src/app/__tests__/settings-pages.test.tsx
  apps/web/src/features/auth/components/__tests__/AuthFooter.test.tsx
  apps/web/src/features/auth/components/__tests__/CodeInput.test.tsx
  apps/web/src/features/auth/components/__tests__/ConsentSection.test.tsx
  apps/web/src/features/content/api/__tests__/contentApi.test.ts
  apps/web/src/features/content/components/__tests__/ArticleList.test.tsx
  apps/web/src/features/content/components/__tests__/ArticleView.test.tsx
  apps/web/src/features/content/components/__tests__/AudienceSelector.test.tsx
  apps/web/src/features/content/components/__tests__/FeedList.test.tsx
  apps/web/src/features/content/components/__tests__/FileUploader.test.tsx
  apps/web/src/features/notifications/api/__tests__/preferencesApi.test.ts
Due: typescript-check, eslint

chore: raise coverage thresholds to 55-60%
  apps/web/jest.config.js
Due: eslint

test(shared): add hooks, utils, and UI component tests
  apps/web/src/shared/components/__tests__/AuthGuard.test.tsx
  apps/web/src/shared/components/__tests__/Button.test.tsx
  apps/web/src/shared/components/__tests__/Card.test.tsx
  apps/web/src/shared/components/__tests__/ErrorBoundary.test.tsx
  apps/web/src/shared/components/__tests__/Input.test.tsx
  apps/web/src/shared/hooks/__tests__/useAuth.test.ts
  apps/web/src/shared/hooks/__tests__/useThrottle.test.ts
  apps/web/src/shared/utils/__tests__/format.test.ts
Due: typescript-check, eslint

test: add settings, auth screen, and barcode scanner tests
  apps/web/src/features/auth/components/__tests__/AuthScreen.test.tsx
  apps/web/src/features/auth/components/__tests__/VerifyEmailScreen.test.tsx
  apps/web/src/features/food-tracker/hooks/__tests__/useBarcodeScanner.test.ts
  apps/web/src/shared/components/forms/__tests__/PasswordInput.test.tsx
  apps/web/src/shared/components/settings/__tests__/AppleHealthToggle.test.tsx
  apps/web/src/shared/components/settings/__tests__/LanguageSelector.test.tsx
  apps/web/src/shared/components/settings/__tests__/PhotoUploader.test.tsx
  apps/web/src/shared/components/settings/__tests__/SocialAccountsForm.test.tsx
  apps/web/src/shared/components/settings/__tests__/UnitSelector.test.tsx
Due: typescript-check, eslint

test(app): add page render tests
  apps/web/src/app/__tests__/admin-pages.test.tsx
  apps/web/src/app/__tests__/auth-pages.test.tsx
  apps/web/src/app/__tests__/chat-page.test.tsx
  apps/web/src/app/__tests__/curator-pages.test.tsx
  apps/web/src/app/__tests__/dashboard-page.test.tsx
  apps/web/src/app/__tests__/food-tracker-pages.test.tsx
  apps/web/src/app/__tests__/legal-pages.test.tsx
  apps/web/src/app/__tests__/notifications-page.test.tsx
  apps/web/src/app/__tests__/profile-page.test.tsx
Due: typescript-check, eslint

test(dashboard): strengthen store coverage to 95%+
  apps/web/src/features/dashboard/store/__tests__/dashboardStoreCoverage.test.ts
Due: typescript-check, eslint

chore: raise coverage thresholds after round 2
  apps/web/jest.config.js
  apps/web/src/shared/hooks/__tests__/useAuth.test.ts
Due: typescript-check, eslint

test: add tests for remaining 0%-coverage components
  apps/web/__mocks__/react-window.js
  apps/web/src/app/__tests__/AuthRedirect.test.tsx
  apps/web/src/app/__tests__/layouts.test.tsx
  apps/web/src/app/__tests__/sitemap.test.ts
  apps/web/src/app/food-tracker/nutrient/[id]/__tests__/NutrientDetailPageClient.test.tsx
  apps/web/src/features/admin/components/__tests__/AdminLayout.test.tsx
  apps/web/src/features/auth/api/__tests__/passwordReset.test.ts
  apps/web/src/features/auth/api/__tests__/verification.test.ts
  apps/web/src/features/chat/components/__tests__/FoodEntryForm.test.tsx
  apps/web/src/features/chat/components/__tests__/TypingIndicator.test.tsx
  apps/web/src/features/chat/components/__tests__/WebSocketProvider.test.tsx
  apps/web/src/features/content/components/__tests__/ArticleEditor.test.tsx
  apps/web/src/features/content/components/__tests__/ArticleForm.test.tsx
  apps/web/src/features/content/components/__tests__/MediaUploader.test.tsx
  apps/web/src/features/dashboard/components/__tests__/KeyboardShortcutsHelp.test.tsx
  apps/web/src/features/dashboard/components/__tests__/ProgressSection.test.tsx
  apps/web/src/features/dashboard/components/__tests__/UnsavedDataNotification.test.tsx
  apps/web/src/features/dashboard/components/__tests__/WaterBlock.test.tsx
  apps/web/src/features/dashboard/components/__tests__/WeightSection.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/AddCustomRecommendationForm.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/LoadingSkeletons.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/ManualEntryForm.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/VirtualizedFoodList.test.tsx
Due: typescript-check, eslint

test: improve branch coverage for low-coverage files
  apps/web/src/app/forgot-password/__tests__/page.branch.test.tsx
  apps/web/src/app/profile/__tests__/page.test.tsx
  apps/web/src/app/reset-password/__tests__/page.test.tsx
  apps/web/src/features/chat/hooks/__tests__/useChat.branches.test.ts
  apps/web/src/features/chat/hooks/__tests__/useWebSocket.branches.test.ts
  apps/web/src/features/food-tracker/components/__tests__/FoodEntryItem.branches.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/FoodEntryModal.branches.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/MealSlot.branches.test.tsx
  apps/web/src/features/food-tracker/hooks/__tests__/useFoodSearch.branches.test.ts
  apps/web/src/features/notifications/components/__tests__/NotificationDropdown.test.tsx
  apps/web/src/features/onboarding/components/__tests__/OnboardingWizard.branch.test.tsx
  apps/web/src/features/settings/components/__tests__/SettingsLocality.branch.test.tsx
Due: typescript-check, eslint

chore: raise coverage thresholds to 80%+ and fix lint/type errors
  apps/web/jest.config.js
  apps/web/src/features/chat/hooks/__tests__/useChat.branches.test.ts
  apps/web/src/features/content/components/__tests__/ArticleEditor.test.tsx
  apps/web/src/features/dashboard/components/__tests__/WeightSection.test.tsx
Due: typescript-check, eslint

fix: apply go fmt to test files
  apps/api/internal/modules/admin/handler_test.go
  apps/api/internal/modules/content/handler_test.go
  apps/api/internal/modules/curator/handler_test.go
Due: none

chore: upgrade Go from 1.24 to 1.26
  .github/workflows/ci.yml
  apps/api/Dockerfile
  apps/api/go.mod
Due: none
