Repository toffguy77/my-fitness-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for local code quality checks
# Install with: npm run precommit:setup

repos:
  # Code quality checks
  - repo: local
    hooks:
      # TypeScript type checking
      - id: typescript-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      # ESLint for code quality
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Security audit (disabled for pre-push to avoid slowdown)
      # Run manually with: npm audit --audit-level=high
      # Or enable in CI/CD pipeline instead
      # - id: npm-audit
      #   name: NPM Security Audit
      #   entry: npm audit --audit-level=high
      #   language: system
      #   pass_filenames: false
      #   always_run: true
      #   stages: [pre-push]

      # Quick security check (only on manual run)
      - id: npm-audit-quick
        name: NPM Security Audit (Quick)
        entry: npm audit --audit-level=critical --production
        language: system
        pass_filenames: false
        always_run: true
        stages: [manual]

  # File checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-case-conflict
        name: Check for case conflicts

      - id: check-json
        name: Check JSON syntax

      - id: check-yaml
        name: Check YAML syntax
        args: ['--multi', '--unsafe']

      - id: detect-private-key
        name: Detect private keys

      - id: end-of-file-fixer
        name: Fix end of files
        exclude: |
          (?x)^(
            .*\.min\.js$|
            .*\.map$|
            node_modules/.*|
            \.git/.*|
            \.cache/.*|
            \.next/.*
          )$

      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: |
          (?x)^(
            .*\.md$|
            .*\.min\.js$|
            .*\.map$|
            node_modules/.*|
            \.cache/.*|
            \.next/.*
          )$

# Global configuration
default_language_version:
  node: '20'
  python: python3

# Hook execution settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

feat: add X-Request-Id for cross-layer request tracing
  apps/api/internal/shared/middleware/logger.go
  apps/web/src/shared/utils/api-client.ts
Due: typescript-check, eslint

fix: purge stale API responses from Service Worker cache
  apps/web/next.config.ts
  apps/web/src/app/layout.tsx
  apps/web/src/shared/components/ServiceWorkerCleanup.tsx
Due: typescript-check, eslint

fix: force-unregister old Service Workers and purge all caches
  apps/web/src/shared/components/ServiceWorkerCleanup.tsx
Due: typescript-check, eslint

fix: resolve hydration mismatch in admin/curator layouts and surface ArticleList errors
  apps/web/src/app/admin/layout.tsx
  apps/web/src/app/curator/layout.tsx
  apps/web/src/features/content/components/ArticleList.tsx
Due: typescript-check, eslint

fix: satisfy React Compiler lint rule in admin/curator layouts
  apps/web/src/app/admin/layout.tsx
  apps/web/src/app/curator/layout.tsx
Due: typescript-check, eslint

debug: add ListArticles handler logging for isAdmin diagnosis
  apps/api/internal/modules/content/handler.go
Due: none

debug: add ListArticles service-level diagnostics
  apps/api/internal/modules/content/service.go
Due: none

fix: add cache-busting to token refresh retry and cross-proxy request tracing
  apps/api/internal/modules/content/handler.go
  apps/api/internal/shared/middleware/logger.go
  apps/web/src/shared/utils/api-client.ts
Due: typescript-check, eslint

fix: bypass Next.js rewrite proxy for API calls to prevent dropped requests
  apps/web/next.config.ts
  apps/web/src/app/forgot-password/page.tsx
  apps/web/src/app/reset-password/page.tsx
  apps/web/src/config/api.ts
  apps/web/src/features/admin/api/__tests__/adminApi.test.ts
  apps/web/src/features/admin/api/adminApi.ts
  apps/web/src/features/auth/__tests__/api-client.test.ts
  apps/web/src/features/auth/api/__tests__/passwordReset.test.ts
  apps/web/src/features/auth/api/__tests__/verification.test.ts
  apps/web/src/features/auth/api/auth.ts
  apps/web/src/features/auth/api/passwordReset.ts
  apps/web/src/features/auth/api/verification.ts
  apps/web/src/features/auth/hooks/useAuth.ts
  apps/web/src/features/chat/api/__tests__/chatApi.test.ts
  apps/web/src/features/chat/api/chatApi.ts
  apps/web/src/features/content/api/__tests__/contentApi.test.ts
  apps/web/src/features/content/api/contentApi.ts
  apps/web/src/features/content/components/MediaUploader.tsx
  apps/web/src/features/content/components/__tests__/MediaUploader.test.tsx
  apps/web/src/features/curator/api/__tests__/curatorApi.test.ts
  apps/web/src/features/curator/api/curatorApi.ts
  apps/web/src/features/dashboard/components/ProgressSection.tsx
  apps/web/src/features/dashboard/components/WaterBlock.tsx
  apps/web/src/features/dashboard/components/WeightSection.tsx
  apps/web/src/features/dashboard/components/__tests__/WaterBlock.test.tsx
  apps/web/src/features/notifications/api/__tests__/preferencesApi.test.ts
  apps/web/src/features/notifications/api/preferencesApi.ts
  apps/web/src/features/notifications/store/__tests__/notificationsStore.test.ts
  apps/web/src/features/nutrition-calc/api/__tests__/nutritionCalc.test.ts
  apps/web/src/features/nutrition-calc/api/nutritionCalc.ts
  apps/web/src/features/onboarding/api/__tests__/onboarding.test.ts
  apps/web/src/features/onboarding/api/onboarding.ts
  apps/web/src/features/settings/api/__tests__/settings.test.ts
  apps/web/src/features/settings/api/settings.ts
  apps/web/src/shared/hooks/__tests__/useAuth.test.ts
  apps/web/src/shared/hooks/useAuth.ts
  apps/web/src/shared/utils/api-client.ts
  apps/web/src/shared/utils/logger.ts
Due: typescript-check, eslint

chore: remove debug logging, fix OOM in layout tests
  apps/api/internal/modules/content/handler.go
  apps/api/internal/modules/content/service.go
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/app/__tests__/layouts.test.tsx
  apps/web/src/app/__tests__/light-layouts.test.tsx
  apps/web/src/shared/components/ServiceWorkerCleanup.tsx
  apps/web/src/shared/utils/api-client.ts
Due: typescript-check, eslint

user docs
  docs/README.md
  docs/content-articles/01-dobro-pozhalovat.md
  docs/content-articles/02-chto-takoe-kbzhu.md
  docs/content-articles/03-5-sposobov-dobavit-edu.md
  docs/content-articles/04-kak-rabotat-s-kuratorom.md
  docs/content-articles/05-tvoya-pervaya-nedelya.md
  docs/content-articles/06-zachem-pit-vodu.md
  docs/content-articles/07-kak-chitat-dashboard.md
  docs/content-articles/08-trenirovki-i-kaloriy.md
  docs/content-articles/09-nastroy-profil-pravilno.md
  docs/content-articles/10-oshibki-novichkov.md
  docs/content-articles/COVERS.md
  docs/user-guide/01-начало-работы.md
  docs/user-guide/02-ведение-дневника-питания.md
  docs/user-guide/03-отслеживание-прогресса.md
  docs/user-guide/04-общение-с-куратором.md
  docs/user-guide/05-контент-и-обучение.md
  docs/user-guide/06-уведомления.md
  docs/user-guide/07-настройка-профиля.md
  docs/user-guide/08-частые-вопросы.md
Due: none

fix: add retry logic for token refresh on transient failures
  apps/web/src/shared/utils/api-client.ts
Due: typescript-check, eslint

fix: correct off-by-one in token refresh retry loop
  apps/web/src/shared/utils/api-client.ts
Due: typescript-check, eslint

fix: resolve 5 open Dependabot security vulnerabilities via npm overrides
  package-lock.json
  package.json
Due: none

fix: resolve ~194 GitHub code scanning security alerts
  apps/web/Dockerfile
  package.json
  scripts/github-status.js
  scripts/performance-optimizer.js
  scripts/pipeline-monitor.js
  scripts/quality-gate-incremental.js
  scripts/quality-gate-optimizer.js
  scripts/quality-gate-performance.js
  scripts/telegram-notify.js
  scripts/weekly-report.js
Due: eslint

feat(content): allow all curators to see all articles, add is_own flag
  apps/api/internal/modules/content/service.go
  apps/api/internal/modules/content/service_test.go
  apps/api/internal/modules/content/types.go
Due: none

feat(content): allow all curators to see all articles, add is_own flag
  apps/api/internal/modules/content/service.go
  apps/api/internal/modules/content/service_test.go
Due: none

feat(content): show all articles to curators, restrict editing to own
  apps/web/src/app/__tests__/admin-pages.test.tsx
  apps/web/src/app/admin/content/page.tsx
  apps/web/src/features/content/components/ArticleList.tsx
  apps/web/src/features/content/components/__tests__/ArticleForm.test.tsx
  apps/web/src/features/content/components/__tests__/ArticleList.test.tsx
  apps/web/src/features/content/types/index.ts
Due: typescript-check, eslint

fix: stale feed names, notification badge, clickable notifications
  apps/web/src/features/content/components/FeedList.tsx
  apps/web/src/features/notifications/components/NotificationItem.tsx
  apps/web/src/features/notifications/hooks/useNotifications.ts
Due: typescript-check, eslint

fix(tests): add useRouter mock and fetchUnreadCounts to notification tests
  apps/web/src/features/notifications/components/NotificationItem.test.tsx
  apps/web/src/features/notifications/components/__tests__/NotificationList.test.tsx
  apps/web/src/features/notifications/components/__tests__/ReadStatusChange.property.test.tsx
  apps/web/src/features/notifications/hooks/__tests__/useNotifications.test.tsx
Due: typescript-check, eslint
