Repository toffguy77/my-fitness-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for local code quality checks
# Install with: npm run precommit:setup

repos:
  # Code quality checks
  - repo: local
    hooks:
      # TypeScript type checking
      - id: typescript-check
        name: TypeScript Type Check
        entry: npm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      # ESLint for code quality
      - id: eslint
        name: ESLint
        entry: npm run lint
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false
        stages: [pre-commit]

      # Security audit (disabled for pre-push to avoid slowdown)
      # Run manually with: npm audit --audit-level=high
      # Or enable in CI/CD pipeline instead
      # - id: npm-audit
      #   name: NPM Security Audit
      #   entry: npm audit --audit-level=high
      #   language: system
      #   pass_filenames: false
      #   always_run: true
      #   stages: [pre-push]

      # Quick security check (only on manual run)
      - id: npm-audit-quick
        name: NPM Security Audit (Quick)
        entry: npm audit --audit-level=critical --production
        language: system
        pass_filenames: false
        always_run: true
        stages: [manual]

  # File checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']

      - id: check-case-conflict
        name: Check for case conflicts

      - id: check-json
        name: Check JSON syntax

      - id: check-yaml
        name: Check YAML syntax
        args: ['--multi', '--unsafe']

      - id: detect-private-key
        name: Detect private keys

      - id: end-of-file-fixer
        name: Fix end of files
        exclude: |
          (?x)^(
            .*\.min\.js$|
            .*\.map$|
            node_modules/.*|
            \.git/.*|
            \.cache/.*|
            \.next/.*
          )$

      - id: trailing-whitespace
        name: Trim trailing whitespace
        exclude: |
          (?x)^(
            .*\.md$|
            .*\.min\.js$|
            .*\.map$|
            node_modules/.*|
            \.cache/.*|
            \.next/.*
          )$

# Global configuration
default_language_version:
  node: '20'
  python: python3

# Hook execution settings
fail_fast: false
minimum_pre_commit_version: '3.0.0'

fix: show only date (day + month) on KBJU weekly chart X-axis
  apps/web/src/features/nutrition-calc/components/KBJUWeeklyChart.tsx
Due: typescript-check, eslint

fix: targets API response parsing and chart date format
  apps/api/internal/modules/nutrition-calc/service.go
  apps/web/src/features/nutrition-calc/api/nutritionCalc.ts
  apps/web/src/features/nutrition-calc/components/KBJUWeeklyChart.tsx
Due: typescript-check, eslint

fix: workout bonus calc and target re-fetch after metric save
  apps/api/internal/modules/nutrition-calc/service.go
  apps/web/src/features/dashboard/components/NutritionBlock.tsx
Due: typescript-check, eslint

fix: make KBJU recalculation synchronous in SaveMetric handler
  apps/api/internal/modules/dashboard/handler.go
Due: none

fix: clear workout type/duration when workout is cancelled
  apps/api/internal/modules/dashboard/service.go
Due: none

fix: update nutrition targets and chart after metric save without reload
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/features/dashboard/components/NutritionBlock.tsx
  apps/web/src/features/dashboard/store/dashboardStore.ts
Due: typescript-check, eslint

fix: parameterize Traefik router names with APP_ENV for multi-env support
  docker-compose.yml
Due: none

feat: add content management tab to admin panel
  apps/api/internal/modules/admin/types.go
  apps/web/src/app/admin/content/[id]/edit/page.tsx
  apps/web/src/app/admin/content/new/page.tsx
  apps/web/src/app/admin/content/page.tsx
  apps/web/src/features/admin/types/index.ts
  apps/web/src/features/admin/utils/adminNavigationConfig.ts
  apps/web/src/features/content/components/ArticleEditor.tsx
  apps/web/src/features/content/components/ArticleList.tsx
  apps/web/src/features/curator/utils/curatorNavigationConfig.ts
Due: typescript-check, eslint

docs: add feature design plans
  docs/plans/2026-03-01-weight-feature-design.md
  docs/plans/2026-03-04-social-username-validation.md
  docs/plans/2026-03-04-user-foods-plan.md
  docs/plans/2026-03-05-admin-content-tab-design.md
Due: none

chore: add openfoodfacts migration script
  apps/api/run-openfoodfacts-migrations.go
Due: none

chore: add cleanup-food-data binary to gitignore
  .gitignore
Due: none

feat: add Yandex Metrika analytics counter
  apps/web/.env.local
  apps/web/Dockerfile
  apps/web/src/app/layout.tsx
  apps/web/src/shared/components/YandexMetrika.tsx
  docker-compose.yml
Due: typescript-check, eslint

refactor: remove hardcoded Metrika ID fallback, restore guard clause
  apps/web/src/shared/components/YandexMetrika.tsx
Due: typescript-check, eslint

fix: resolve ESLint and Go fmt CI failures
  apps/api/cmd/server/main.go
  apps/api/internal/modules/nutrition-calc/types.go
  apps/api/internal/shared/ws/types.go
  apps/web/src/app/food-tracker/FoodTrackerPageClient.tsx
  apps/web/src/app/profile/page.tsx
  apps/web/src/features/content/components/ArticleForm.tsx
  apps/web/src/features/notifications/components/NotificationDropdown.tsx
  apps/web/src/shared/components/AuthGuard.tsx
Due: typescript-check, eslint

fix: update outdated Go test mocks to match current interfaces
  apps/api/internal/modules/content/service_test.go
  apps/api/internal/modules/curator/service_test.go
  apps/api/internal/modules/notifications/service_test.go
  apps/api/internal/modules/users/handler_test.go
  apps/api/internal/shared/storage/s3_test.go
Due: none

fix: update 15 frontend test suites to match current component implementations
  apps/web/src/app/dashboard/__tests__/page.test.tsx
  apps/web/src/features/dashboard/components/__tests__/DailyTrackingGrid.property.test.tsx
  apps/web/src/features/dashboard/components/__tests__/DailyTrackingGrid.test.tsx
  apps/web/src/features/dashboard/components/__tests__/NutritionBlock.property.test.tsx
  apps/web/src/features/dashboard/components/__tests__/NutritionBlock.test.tsx
  apps/web/src/features/dashboard/components/__tests__/PhotoUploadSection.test.tsx
  apps/web/src/features/dashboard/components/__tests__/ProgressSection.property.test.tsx
  apps/web/src/features/dashboard/components/__tests__/ProgressSection.test.tsx
  apps/web/src/features/dashboard/components/__tests__/StepsBlock.property.test.tsx
  apps/web/src/features/dashboard/components/__tests__/StepsBlock.test.tsx
  apps/web/src/features/dashboard/components/__tests__/WeightBlock.property.test.tsx
  apps/web/src/features/dashboard/components/__tests__/WorkoutBlock.property.test.tsx
  apps/web/src/features/dashboard/components/__tests__/WorkoutBlock.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/DietTab.property.test.tsx
  apps/web/src/features/food-tracker/components/__tests__/DietTab.test.tsx
Due: typescript-check, eslint

chore: lower coverage thresholds to match current codebase coverage
  apps/web/jest.config.js
Due: eslint

docs: add Yandex SEO optimization design document
  docs/plans/2026-03-05-yandex-seo-design.md
Due: none

docs: add Yandex SEO implementation plan (10 tasks)
  docs/plans/2026-03-05-yandex-seo-plan.md
Due: none

feat(seo): add robots.ts with Yandex-specific rules
  apps/web/src/app/robots.ts
Due: typescript-check, eslint

feat(seo): add reusable JsonLd component for structured data
  apps/web/src/shared/components/JsonLd.tsx
Due: typescript-check, eslint

feat(seo): add dynamic OG image generator
  apps/web/src/app/opengraph-image.tsx
Due: typescript-check, eslint
