Repository toffguy77/my-fitness-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-security, typescript-check

eslint-security:
  name: ESLint Security Check
  entry: npx eslint
  language: node
  args:
  - --config
  - .eslintrc.security.js
  - --max-warnings
  - '0'

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false

fix: make CD Pipeline telegram notifications optional and fix git history check
  .cache/pipeline-metrics/job-threshold-test-1768500452663.json
  .cache/pipeline-metrics/performance-report-1768500450697.json
  .cache/pipeline-metrics/performance-report-1768500451472.json
  .cache/pipeline-metrics/performance.json
  .cache/pipeline/build-hash.txt
  .cache/pipeline/changed-files.json
  .github/workflows/cd.yml
  performance-dashboard/index.html
Due: none

fix: update CD Pipeline tests to expect optional telegram notifications
  src/__tests__/cd-pipeline.test.ts
  src/__tests__/cicd-system-comprehensive.test.ts
Due: eslint-security, typescript-check

fix: correct CD Pipeline syntax - remove secrets check from if conditions, use continue-on-error instead
  .github/workflows/cd.yml
  src/__tests__/cd-pipeline.test.ts
  src/__tests__/cicd-system-comprehensive.test.ts
Due: eslint-security, typescript-check

fix: Use environment variables instead of secrets for Telegram notifications in CD Pipeline
  .github/workflows/cd.yml
Due: none

fix: Remove all TypeScript 'any' type linting errors in test files and scripts
  .cache/pipeline-metrics/job-threshold-test-1768504118734.json
  .cache/pipeline-metrics/performance-report-1768504117358.json
  .cache/pipeline-metrics/performance-report-1768504117902.json
  .cache/pipeline-metrics/performance.json
  .cache/pipeline/build-hash.txt
  .cache/pipeline/changed-files.json
  eslint.security.config.mjs
  performance-dashboard/index.html
  scripts/github-status.js
  scripts/performance-optimizer.js
  src/__tests__/cd-pipeline.test.ts
  src/__tests__/cicd-system-comprehensive.test.ts
Due: eslint-security, typescript-check

fix: Add ts-nocheck to complex test files to resolve TypeScript compilation errors
  src/__tests__/cd-pipeline.test.ts
  src/__tests__/cicd-system-comprehensive.test.ts
Due: eslint-security, typescript-check

fix: Replace ts-nocheck with eslint-disable for test files
  src/__tests__/cd-pipeline.test.ts
  src/__tests__/cicd-system-comprehensive.test.ts
Due: eslint-security, typescript-check

feat: Add pre-commit hooks for local code quality checks
  .pre-commit-config.yaml
  README.md
  docs/Pre-Commit-Hooks.md
  package.json
  scripts/setup-pre-commit.sh
Due: none

fix: update cd-pipeline test to use vars instead of secrets for Telegram
  src/__tests__/cd-pipeline.test.ts
Due: eslint-security, typescript-check

docs: add comprehensive pre-commit hooks guide
  docs/Pre-Commit-Hooks.md
Due: none

fix: add TypeScript check to pre-commit and fix CI/CD test type errors
  .cache/pipeline-metrics/job-threshold-test-1768507488840.json
  .cache/pipeline-metrics/job-threshold-test-1768507553205.json
  .cache/pipeline-metrics/performance-report-1768507487421.json
  .cache/pipeline-metrics/performance-report-1768507488073.json
  .cache/pipeline-metrics/performance-report-1768507551740.json
  .cache/pipeline-metrics/performance-report-1768507552402.json
  .cache/pipeline-metrics/performance.json
  .cache/pipeline/build-hash.txt
  .cache/pipeline/changed-files.json
  .pre-commit-config.yaml
  eslint.config.mjs
  performance-dashboard/index.html
  src/__tests__/cd-pipeline.test.ts
  src/__tests__/cicd-system-comprehensive.test.ts
Due: eslint-security, typescript-check

fix: update package-lock.json after npm audit fix
  package-lock.json
Due: none

fix: disable SHA tag for pull requests to avoid invalid Docker tag format
  .github/workflows/docker-build-push.yml
Due: none

fix: load Docker image locally for PR to enable Trivy scanning
  .github/workflows/docker-build-push.yml
Due: none

security: fix log injection vulnerability in jest.setup.js
  jest.setup.js
Due: eslint-security

fix: enable Performance Analysis check for pull requests
  .github/workflows/performance-monitoring.yml
  .pre-commit-config.yaml
Due: none

ci: deploy beta (develop) + prod (main) to VPS
  .github/workflows/cd.yml
  deploy/README.md
  deploy/env/.env.production.example
  deploy/env/.env.staging.example
  deploy/nginx/beta.burcev.team.conf
  deploy/nginx/burcev.team.conf
  src/__tests__/cd-pipeline.test.ts
Due: eslint-security, typescript-check

ci: restore npm cache + explicit health checks in CD
  .github/workflows/cd.yml
  src/__tests__/cd-pipeline.test.ts
Due: eslint-security, typescript-check

Path conditions:
  eslint-security: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/.*|
  \.next/.*|
  coverage/.*|
  dist/.*|
  build/.*
)$

  typescript-check: any of: \.(ts|tsx)$
