Repository toffguy77/my-fitness-app: changes, and which Codecov flags are due for each by the changed paths.
All: unittests-components, unittests-utils, unittests-hooks, unittests-api, unittests-complete

feat: add docker network config for staging deployment
  .github/workflows/cd.yml
  docker-compose.yml
Due: none

fix: use server actions for product search to access server-side env vars
  docker-compose.yml.bak.20260118101506
  src/components/ocr/OCRResult.tsx
  src/components/products/ProductSearch.tsx
  src/utils/products/actions.ts
Due: unittests-components, unittests-utils, unittests-complete

fix: remove env files with secrets from git
  .gitignore
  docker-compose.yml.bak.20260118101506
Due: none

docs: add comprehensive error handling documentation
  README.md
  docs/Error_Handling_Documentation_Summary.md
  docs/Error_Handling_Guide.md
  docs/Error_Handling_Quick_Reference.md
  docs/README.md
  docs/RELEASE_NOTES_Error_Handling_v1.0.md
  docs/RLS_Migration_Guide.md
Due: none

chore: add error-handling-improvements spec files
  .kiro/specs/error-handling-improvements/requirements.md
  .kiro/specs/error-handling-improvements/tasks.md
Due: none

fix: resolve TypeScript compilation errors in tests
  src/__tests__/products-rls.insert.property.test.ts
  src/__tests__/products-rls.integration.test.ts
  src/__tests__/products-rls.select.property.test.ts
  src/hooks/__tests__/useAbortController.test.ts
  src/utils/__tests__/chat.validation.length.property.test.ts
  src/utils/__tests__/request-handler.logging.property.test.ts
  src/utils/metrics/__tests__/error-handling-metrics.test.ts
  src/utils/metrics/__tests__/prometheus-collector.silent-failure.property.test.ts
  src/utils/metrics/error-handling-metrics.ts
  src/utils/supabase/rls-error-handler.ts
Due: unittests-utils, unittests-complete

fix: resolve ESLint errors in CI pipeline
  eslint.config.mjs
  src/hooks/useAbortController.ts
Due: unittests-hooks, unittests-complete

fix: correct message validation test to use proper maxLength
  src/utils/__tests__/chat.realtime.integration.test.ts
Due: none

fix: correct message validation order and spam detection thresholds
  src/utils/chat/validation.ts
Due: unittests-utils, unittests-complete

fix: improve CD pipeline health checks
  .github/workflows/cd.yml
Due: none

fix: complete FatSecret post-merge fixes
  .kiro/specs/fatsecret-post-merge-fixes/tasks.md
  env.example
  src/app/app/dashboard/page.tsx
  src/config/fatsecret.ts
  src/utils/logger.ts
  src/utils/products/api.ts
Due: unittests-utils, unittests-complete

test: fix products.api.test for usage_count increment
  src/utils/__tests__/products.api.test.ts
Due: none

feat: implement multi-strategy FatSecret search with Russian language support
  .gitignore
  .kiro/hooks/branch-naming-check.kiro.hook
  .kiro/hooks/git-push-monitor-actions.kiro.hook
  .kiro/settings/mcp.json
  .kiro/specs/fatsecret-post-merge-fixes/tasks.md
  FATSECRET_IMPLEMENTATION.md
  docs/FatSecret_Localization.md
  env.example
  src/__tests__/language-utils.test.ts
  src/config/fatsecret.ts
  src/utils/products/fatsecret.ts
  src/utils/products/language.ts
Due: unittests-utils, unittests-complete

fix: add region and language to FatSecret test mocks
  src/__tests__/fatsecret-client.test.ts
  src/__tests__/fatsecret-integration.api-auth.property.test.ts
  src/utils/__tests__/fatsecret-auth.property.test.ts
  src/utils/__tests__/fatsecret-auth.test.ts
Due: none

fix: configure environment for Kiro to work with Go and Homebrew
  .husky/pre-commit
  .kiro/ENVIRONMENT_SETUP.md
  .kiro/settings/env.json
  KIRO_SETUP.md
  apps/api/Makefile
  scripts/setup-env.sh
Due: none

fix: correct Go test implementations and verify environment setup
  apps/api/coverage.out
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/modules/auth/handler_test.go
  apps/api/internal/modules/auth/service_test.go
  apps/api/internal/shared/middleware/auth_test.go
Due: none

docs: add final summary of testing system and environment setup
  FINAL_SUMMARY.md
Due: none

feat: implement comprehensive logging system
  .husky/pre-commit
  LOGGING_QUICK_START.md
  apps/api/cmd/server/main.go
  apps/api/go.mod
  apps/api/go.sum
  apps/api/internal/modules/logs/handler.go
  apps/api/internal/shared/logger/logger.go
  apps/api/internal/shared/middleware/logger.go
  apps/web/jest.config.js
  apps/web/jest.polyfills.js
  apps/web/jest.setup.js
  apps/web/package.json
  apps/web/src/features/auth/components/LoginForm.example.tsx
  apps/web/src/shared/components/ErrorBoundary.tsx
  apps/web/src/shared/hooks/__tests__/useAuth.test.ts
  apps/web/src/shared/hooks/index.ts
  apps/web/src/shared/hooks/useLogger.ts
  apps/web/src/shared/utils/index.ts
  apps/web/src/shared/utils/logger.ts
  apps/web/tsconfig.json
  docs/LOGGING.md
  package-lock.json
Due: none

test: improve test coverage for frontend and backend
  apps/api/internal/config/config_test.go
  apps/api/internal/modules/logs/handler_test.go
  apps/api/internal/shared/logger/logger_test.go
  apps/api/internal/shared/middleware/error_test.go
  apps/api/internal/shared/middleware/logger_test.go
  apps/api/internal/shared/response/response.go
  apps/api/internal/shared/response/response_test.go
  apps/web/jest.config.js
  apps/web/src/features/auth/__tests__/index.test.ts
  apps/web/src/features/auth/components/__tests__/index.test.ts
  apps/web/src/shared/components/__tests__/ErrorBoundary.test.tsx
  apps/web/src/shared/components/ui/__tests__/Card.test.tsx
  apps/web/src/shared/components/ui/__tests__/index.test.ts
  apps/web/src/shared/hooks/__tests__/index.test.ts
  apps/web/src/shared/hooks/__tests__/useLogger.test.ts
  apps/web/src/shared/utils/__tests__/format.test.ts
  apps/web/src/shared/utils/__tests__/index.test.ts
  apps/web/src/shared/utils/__tests__/logger.test.ts
Due: none

Path conditions:
  unittests-components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__tests__/**, **/e2e/**, **/*.stories.ts, **/*.stories.tsx, **/*.d.ts, jest.config.js, jest.setup.js, next.config.ts, tailwind.config.ts, postcss.config.mjs, playwright.config.ts
  unittests-utils: any of: src/utils/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__tests__/**, **/e2e/**, **/*.stories.ts, **/*.stories.tsx, **/*.d.ts, jest.config.js, jest.setup.js, next.config.ts, tailwind.config.ts, postcss.config.mjs, playwright.config.ts
  unittests-hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__tests__/**, **/e2e/**, **/*.stories.ts, **/*.stories.tsx, **/*.d.ts, jest.config.js, jest.setup.js, next.config.ts, tailwind.config.ts, postcss.config.mjs, playwright.config.ts
  unittests-api: any of: src/app/api/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__tests__/**, **/e2e/**, **/*.stories.ts, **/*.stories.tsx, **/*.d.ts, jest.config.js, jest.setup.js, next.config.ts, tailwind.config.ts, postcss.config.mjs, playwright.config.ts
  unittests-complete: any of: src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/__tests__/**, **/e2e/**, **/*.stories.ts, **/*.stories.tsx, **/*.d.ts, jest.config.js, jest.setup.js, next.config.ts, tailwind.config.ts, postcss.config.mjs, playwright.config.ts
